# Xcode
*.xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Build
build/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
*.swp
*~

# IDE
*.idea/
*.vscode/
